In [1]:
# github.com/echtr

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("veri.txt", sep="	")
df

,SORU DAĞILIMI,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,Ses Bilgisi,–,1,–,1,3,3,1,1,1,1,1,1,–
1,Dil Bilgisi,3,2,3,8,1,1,3,2,5,5,6,5,5
2,Noktalama İşaretleri,2,2,2,1,1,1,1,1,1,1,1,2,2
3,Yazım Kuralları,2,2,2,2,2,2,1,1,1,2,–,2,2
4,Anlatım Bozukluğu,–,–,–,–,1,1,2,–,–,1,–,1,1
5,Paragraf,26,25,26,22,22,22,22,26,23,20,23,20,20
6,Cümlede Anlamı,3,3,6,3,7,7,7,6,6,7,7,6,7
7,Sözcükte Anlamı,4,5,1,3,3,3,3,3,3,3,2,3,3
8,SORU SAYISI,40,40,40,40,40,40,40,40,40,40,40,40,40

In [4]:
type(df["2022"][0])

str

In [5]:
df.columns

Index(['SORU DAĞILIMI', '2022', '2021', '2020', '2019', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010'],
      dtype='object')

In [6]:
df = df.replace("-","0")
df

,SORU DAĞILIMI,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,Ses Bilgisi,–,1,–,1,3,3,1,1,1,1,1,1,–
1,Dil Bilgisi,3,2,3,8,1,1,3,2,5,5,6,5,5
2,Noktalama İşaretleri,2,2,2,1,1,1,1,1,1,1,1,2,2
3,Yazım Kuralları,2,2,2,2,2,2,1,1,1,2,–,2,2
4,Anlatım Bozukluğu,–,–,–,–,1,1,2,–,–,1,–,1,1
5,Paragraf,26,25,26,22,22,22,22,26,23,20,23,20,20
6,Cümlede Anlamı,3,3,6,3,7,7,7,6,6,7,7,6,7
7,Sözcükte Anlamı,4,5,1,3,3,3,3,3,3,3,2,3,3
8,SORU SAYISI,40,40,40,40,40,40,40,40,40,40,40,40,40

In [7]:
df.dtypes

SORU DAĞILIMI    object
2022             object
2021             object
2020             object
2019             object
2018              int64
2017              int64
2016              int64
2015             object
2014             object
2013              int64
2012             object
2011              int64
2010             object
dtype: object

In [8]:
df["2022"][0]

'–'

In [9]:
df = df.replace(df["2022"][0], 0)
df

,SORU DAĞILIMI,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,Ses Bilgisi,0,1,0,1,3,3,1,1,1,1,1,1,0
1,Dil Bilgisi,3,2,3,8,1,1,3,2,5,5,6,5,5
2,Noktalama İşaretleri,2,2,2,1,1,1,1,1,1,1,1,2,2
3,Yazım Kuralları,2,2,2,2,2,2,1,1,1,2,0,2,2
4,Anlatım Bozukluğu,0,0,0,0,1,1,2,0,0,1,0,1,1
5,Paragraf,26,25,26,22,22,22,22,26,23,20,23,20,20
6,Cümlede Anlamı,3,3,6,3,7,7,7,6,6,7,7,6,7
7,Sözcükte Anlamı,4,5,1,3,3,3,3,3,3,3,2,3,3
8,SORU SAYISI,40,40,40,40,40,40,40,40,40,40,40,40,40

In [10]:
df["2022"].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0     0
1     3
2     2
3     2
4     0
5    26
6     3
7     4
8    40
Name: 2022, dtype: object>

In [11]:
#df = df.transpose()

In [12]:
df.columns

Index(['SORU DAĞILIMI', '2022', '2021', '2020', '2019', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010'],
      dtype='object')

In [13]:
df["SORU DAĞILIMI"]

0             Ses Bilgisi
1             Dil Bilgisi
2    Noktalama İşaretleri
3         Yazım Kuralları
4       Anlatım Bozukluğu
5                Paragraf
6          Cümlede Anlamı
7         Sözcükte Anlamı
8             SORU SAYISI
Name: SORU DAĞILIMI, dtype: object

In [14]:
df

,SORU DAĞILIMI,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,Ses Bilgisi,0,1,0,1,3,3,1,1,1,1,1,1,0
1,Dil Bilgisi,3,2,3,8,1,1,3,2,5,5,6,5,5
2,Noktalama İşaretleri,2,2,2,1,1,1,1,1,1,1,1,2,2
3,Yazım Kuralları,2,2,2,2,2,2,1,1,1,2,0,2,2
4,Anlatım Bozukluğu,0,0,0,0,1,1,2,0,0,1,0,1,1
5,Paragraf,26,25,26,22,22,22,22,26,23,20,23,20,20
6,Cümlede Anlamı,3,3,6,3,7,7,7,6,6,7,7,6,7
7,Sözcükte Anlamı,4,5,1,3,3,3,3,3,3,3,2,3,3
8,SORU SAYISI,40,40,40,40,40,40,40,40,40,40,40,40,40

In [15]:
sayisal = df.iloc[:, 1:]
sayisal

  2022 2021 2020 2019  2018  2017  2016 2015 2014  2013 2012  2011 2010
0    0    1    0    1     3     3     1    1    1     1    1     1    0
1    3    2    3    8     1     1     3    2    5     5    6     5    5
2    2    2    2    1     1     1     1    1    1     1    1     2    2
3    2    2    2    2     2     2     1    1    1     2    0     2    2
4    0    0    0    0     1     1     2    0    0     1    0     1    1
5   26   25   26   22    22    22    22   26   23    20   23    20   20
6    3    3    6    3     7     7     7    6    6     7    7     6    7
7    4    5    1    3     3     3     3    3    3     3    2     3    3
8   40   40   40   40    40    40    40   40   40    40   40    40   40

In [16]:
sayisal.iloc[:, 1:].dtypes

2021    object
2020    object
2019    object
2018     int64
2017     int64
2016     int64
2015    object
2014    object
2013     int64
2012    object
2011     int64
2010    object
dtype: object

In [17]:
sayisal = sayisal.astype("int")
sayisal.dtypes

2022    int32
2021    int32
2020    int32
2019    int32
2018    int32
2017    int32
2016    int32
2015    int32
2014    int32
2013    int32
2012    int32
2011    int32
2010    int32
dtype: object

In [24]:
#sayisal.mean(axis=1)
np.round(sayisal.mean(axis=1), 1)

0     1.1
1     3.8
2     1.4
3     1.6
4     0.5
5    22.8
6     5.8
7     3.0
8    40.0
dtype: float64

In [26]:
ortalamalar = pd.DataFrame(np.round(sayisal.mean(axis=1), 1), columns=["Ortalama"])
ortalamalar

   Ortalama
0       1.1
1       3.8
2       1.4
3       1.6
4       0.5
5      22.8
6       5.8
7       3.0
8      40.0

In [27]:
ortalamalar.index = [df["SORU DAĞILIMI"]]
ortalamalar
# In[136]:

                      Ortalama
SORU DAĞILIMI
Ses Bilgisi                1.1
Dil Bilgisi                3.8
Noktalama İşaretleri       1.4
Yazım Kuralları            1.6
Anlatım Bozukluğu          0.5
Paragraf                  22.8
Cümlede Anlamı             5.8
Sözcükte Anlamı            3.0
SORU SAYISI               40.0